@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');
.App {
  text-align: center;
  font-family: 'Quicksand', 'Times New Roman', Times, serif;
  font-weight: 500;

}

